@font-face {
    font-family: 'Test Founders Grotesk X-Cond SmBd';
    src: url('/src/assets/fonts/FOUNDERSGROTESK-SEMIBOLD.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/src/assets/fonts/NEUEMONTREAL-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
 
  
  body {
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
  }
  
  ::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
@tailwind base;
@tailwind components;
@tailwind utilities;